<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/Profile.css">
</head>
<body>
    <% if (successAlert && successAlert.length > 0) { %>
        <div class="alert alert-success" id="success-alert">
            <%= successAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <% if (dangerAlert && dangerAlert.length > 0) { %>
        <div class="alert alert-danger" id="danger-alert">
            <%= dangerAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <%- include('partials/Elearning'); %>
    <div class="random"></div>
    
    <img class="banner" src="/static/image/banner.png" alt="">
    <div class="wrapper">
        <div class="wrapper-assist">
            <main>
                <div class="name all">
                    <p>Name:</p>
                    <div><%= userData.name %></div>
                </div>
                <div class="lastname all">
                    <p>Lastname:</p>
                    <div><%= userData.lastname %></div>
                </div>
                <div class="email all">
                    <p>Personal Email:</p>
                    <div><%= userData.email %></div>
                </div>
                <div class="phone all">
                    <p>Phone Number:</p>
                    <div><%= userData.phone_number %></div>
                </div>
                <div class="address all">
                    <p>Address:</p>
                    <div><%= userData.address %></div>
                </div>
                <div class="department all">
                    <p>Department:</p>
                    <div><%= userData.Department.dep_name %></div>
                </div>
                <div class="role all">
                    <p>Role:</p>
                    <div><%= userData.role %></div>
                </div>
                <div class="LoginEmail all">
                    <p>UUS Email:</p>
                    <div><%= loginInfo.email %></div>
                </div>
                <% if (images.length > 0) { %>
                    <% images.forEach((image, index) => { %>
                        <div class="container">
                            <div class="images">
                                <img src="data:image/jpeg;base64,<%= image.photo_user.toString('base64') %>" alt="Product Image" width="200" height="200">
                            </div>
                            <div class="delete">
                                <form action="/user/profile/delete/<%= image.id %>" method="post">
                                    <button class="delete-button">Delete image</button>
                                </form>
                                <form action="/user/profile/update/<%= image.id %>" method="post" enctype="multipart/form-data">
                                    <input type="file" name="file" id="fileInput" class="file-input">
                                    <button type="submit" class="edit">Edit Image</button>
                                </form>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <form class="upload" action="/user/profile/insert/<%= userData.id %>" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" class="file-input">
                        <button class="upload" type="submit">Upload Images</button>
                    </form>
                <% } %>

                <form action="/auth/forgot-password" method="POST">
                    <div class="form-group">
                        <label for="email">Enter your email address</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>
            
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Request Password Reset</button>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <%- include('partials/footer'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        setTimeout(function() {
            $('#success-alert').fadeOut('slow');
        }, 10000);
        setTimeout(function() {
            $('#danger-alert').fadeOut('slow');
        }, 10000);
        $('.close').click(function(){
            $(this).parent().hide();
        });
    </script>
</body>
</html>