<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Admin only!</title>
    <link rel="stylesheet" href="/static/css/protected.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <img class="logo" src="/static/image/logo2.0black.png" alt="">
    <h1 style="text-align: center;">UUS Admin Pannel</h1>



    <h1 style="text-align: center; margin: 50px 0;">New applications</h1>
    <div class="apply_wrapper">
        <% data.forEach(row=>{ %>
            <div class="apply_card">
                <div class="first-part">
                    <div class="apply_name">
                        <span>
                            <%= row.name %>
                            <%= row.lastname %>
                        </span>
                    </div>
                    <div class="apply_phone_num">
                        <%= row.phone_number %>
                    </div>
                    <div class="apply_email">
                        <%= row.email %>
                    </div>
                    <div class="apply_high_school">
                        <%= row.high_school %>
                    </div>
                    <div class="apply_study_level">
                        <%= row.study_level %>
                    </div>
                    <div class="apply_department">
                        <%= row.choose_dep %>
                    </div>
                </div>
                <div class="second-part">
                    <select class="status" data-id="<%= row.user_id %>">
                        <option value="pending" <%= row.status == 'pending' ? 'selected' : '' %>>pending</option>
                        <option value="accepted" <%= row.status == 'accepted' ? 'selected' : '' %>>accepted</option>
                        <option value="rejected" <%= row.status == 'rejected' ? 'selected' : '' %>>rejected</option>
                    </select>
                </div>
            </div>
        <% }) %>
    </div>



    <h1 style="text-align: center; margin: 50px 0;">Statistics</h1>
    <div class="statistics">
        <div class="statistics-part-one statistics-both">
            <h1>Number of Students: <span class="stats"><%= studentCount %></span></h1>
            <h1>Number of Professors: <span class="stats"><%= professorCount %></span></h1>
            <h1>Number of departments: <span class="stats"><%=departmentCount%></span> </h1>
        </div>
        <div class="statistics-part-two statistics-both">
            <table>
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Student Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% departmentStudentCounts.forEach(function(dep) { %>
                        <tr>
                            <td><%= dep.dep_name %></td>
                            <td><%= dep.count %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>



    <h1 style="text-align: center; margin: 50px 0;">Feedback Statistics</h1>
    <div class="feedback">
        <div class="feedback-inside-container">
            <% row.forEach(feedback => { %>
                <div class="feedback-card">
                    <h1>Name: <%= feedback.name %>
                    <br>Email: <%= feedback.lastname %></h1>
                    <%= feedback.text_box %>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="feedback-support">

        <div class="feedback-one">
            <div class="both-part-one">
                <h1>Overall experience 1-3</h1>
                <span><%= averageRating %></span>
            </div>
            <div style="border-top: 1px solid #fff;" class="both-part-one">
                <h1>Average Rating 1=10</h1>
                <span><%= averageSatisfiedRating %></span>
            </div>
        </div>

        <div class="feedback-two">
            <div class="feedback-two-container">
                <% Object.keys(moreInfoCounts).forEach(info => { %>
                    <h1>
                        <span class="text-counts"><%= info %>:</span> <span class="counts"><%= moreInfoCounts[info] %></span><br>
                    </h1>
                <% }); %>
            </div>
        </div>

        <div class="feedback-three">
            <div class="both-part-two">
                <h2>Difficulties</h2>
                <% Object.keys(difficulties).forEach(info => { %>
                    <h1>
                        <span class="yes-no-counts"><%= info %>:</span> <span class="counts-yn"><%= difficulties[info] %></span><br>
                    </h1>
                <% }); %>
            </div>
            <div style="border-top: 1px solid #fff;" class="both-part-two">
                <h2>Recomment</h2>
                <% Object.keys(recommend).forEach(info => { %>
                    <h1>
                        <span class="yes-no-counts"><%= info %>:</span> <span class="counts-yn"><%= recommend[info] %></span><br>
                    </h1>
                <% }); %>
            </div>
        </div>
    </div>



    <h1 style="text-align: center; margin: 50px 0;">New Erasmus Applications</h1>
    <div class="new-erasmus-container">
        <% card.forEach(apply => { %>
            <div class="card-apply-erasmus">
                <div class="emri-delete">
                    <span>
                        <%= apply.fullname %>
                    </span>
                    <form action="/deleteApplyErasmus/<%= apply.application_id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">X</button>
                    </form>
                </div>
                <h1>
                    <%= apply.place %>
                </h1>
                <h1>
                    <%= apply.semester %>
                </h1>
                <h1>
                    <%= apply.Department.dep_name %>
                </h1>
                <h1>
                    <%= apply.User.email %>
                </h1>
            </div>
        <% }); %>
    </div>


    <% if (alert) { %>
        <div class="alert <%= alert.type %>-alert" id="alert">
            <%= alert.message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    
    <h1 style="text-align: center; margin: 50px 0;">Register User</h1>
    <div class="register-container">
        <div class="register-one">
            <div class="edit-container">
                <button id="myBtn" href="">Edit <img src="/static/image/editicon.png" alt=""></button>
            </div>
            <form action="/register/user" method="POST" enctype="multipart/form-data">
                <input required type="text" name="name" placeholder="Name of the user:">
                <input required type="text" name="lastname" placeholder="Lastname of the user:">
                <input required type="text" name="address" placeholder="Adress of the user:" id="">
                <input required type="email" name="email" placeholder="Personal email of user:" id="">
                <input required type="text" name="phone_number" placeholder="Phone number of user:" id="">
                <select required name="role" id="">
                    <option value="" class="" disabled selected>Role</option>
                    <option value="admin">Admin!!!</option>
                    <option value="student">Student</option>
                    <option value="professor">Professor</option>
                </select>
                <select required name="dep_id" id="">
                    <option value="" class="" disabled selected>Department</option>
                    <option value="1">Computer Science</option>
                    <option value="2">Cyber Security</option>
                </select>
                <input type="file" name="files" multiple  id="file" onchange="loadFile(event)">
                
                <button type="submit">Create</button>
            </form>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="inside-modal">
                    <span style="visibility: hidden;" class="close-btn">&times;</span>
                    <div class="pjesa2">
                        <div class="rcmn">
                            <form id="search-form">
                                <input type="text" id="search-input" placeholder="Search..." autocomplete="off">
                                <button class="search-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                            <div id="recommendations"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="register-two">
            <div id="output">
                <img src="/static/image/default.png" alt="">
            </div>
        </div>
    </div>



    <h1 style="text-align: center; margin: 50px 0;">Add new login information</h1>
    <div class="login-container">
        <div class="pjesa2">
            <div class="rcmn">
                <form id="search-form2">
                    <input type="text" id="search-input2" placeholder="Search..." autocomplete="off">
                    <button class="search-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <div id="recommendations2"></div>
            </div>
        </div>
    </div>

    <h1 style="text-align: center; margin: 50px 0;">Partner Universities</h1>
    <div class="partner-container">
        <div class="edit-patners">
            <div class="pjesa2">
                <div class="rcmn">
                    <form id="search-form3">
                        <input type="text" id="search-input3" placeholder="Search..." autocomplete="off">
                        <button class="search-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                    <div id="recommendations3"></div>
                </div>
            </div>
        </div>
        <div class="partner-inside">
            <div class="partner-one both-partners">
                <form action="/createpartners" method="POST" enctype="multipart/form-data">
                    <div class="form-one">
                        <input  type="text" name="name" placeholder="Name:">
                        <input  type="text" name="countries" placeholder="countries:">
                        <input  type="number" name="open_scolars" placeholder="open_scolars:" id="">
                        <input type="file" name="photos" multiple id="file" onchange="loadFile2(event)">
                    </div>
                    <div class="form-two">
                        <select  name="level" id="">
                            <option value="" class="" disabled selected>Level</option>
                            <option value="Bachelor">Bachelor</option>
                            <option value="Master">Master</option>
                        </select>
                        <select  name="semster" id="">
                            <option value="" class="" disabled selected>Semster</option>
                            <option value="Winter">Winter</option>
                            <option value="Summer">Summer</option>
                        </select>
                        <select  name="dep_id" id="">
                            <option value="" class="" disabled selected>Department</option>
                            <option value="1">Computer Science</option>
                            <option value="2">Cyber Security</option>
                        </select>
                        
                    
                        <button type="submit">Create</button>
                    </div>
                </form>
            </div>
            
            <div class="partner-two both-partners">
                <div id="output2">
                    <img src="/static/image/default.png" alt="">
                </div>
            </div>
        </div>
    </div>



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/protected.js" defer></script>
    <script src="/static/js/loginInformation.js" defer></script>
    <script src="/static/js/partners.js"></script>
    <script>

    </script>
</body>
</html>